body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 7% 15%;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-items {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Title */
#title {
  background-color: #000;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}

.fullstop {
  color: #66BFBF;
}

#text-box {
  padding: 1% 15%;
}

/* Websites*/
.code-box {
  padding: 0.5em 0 0 0;
}

.badge {
  font-size: 14px;
  color: var(--white);
  font: 'Montserrat';
  font-weight: 300;
  background-color: #11999E;
  border-radius: 5px;
  padding: 6px;
  margin-right: 3px;
  margin-bottom: 5px;
}

#websitework {
  padding-top: 2%;
  background-color: #fff;
  color: #000;
  text-align: center;
}

#websitework .container-fluid {
  padding: 10% 15% 7%;
}

#websitework h2 {
  padding-top: 5%;
  padding-bottom: 1%;
}

.project-text {
position: relative;
padding: 0 10%;

}

/*Other Projects */
#other-projects {
  padding-top: 2%;
  background-color: #fff;
  color: #000;
  text-align: center;
}

#other-projects .container-fluid {
  padding: 10% 15% 7%;
}

#other-projects h2 {
  padding-bottom: 1%;
}

.githubtext {
  margin-top: 20px;
}

.github-icon {
  font-size: 1.5rem;
  margin: 10px auto;
}

/* Footer */
#footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

#footer .container-fluid {
  padding: 3% 15% 7%;
}

.social-icon {
  margin: 20px 10px;
  font-size: 1.5rem;
}

.directory {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  padding-left: 15%;
  padding-right: 10%
}

/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #title {
    padding-bottom: 5%;
  }

  #websitework {
    padding-top: 10%;

  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #websitework .container-fluid {
    padding: 3% 1% 7%;
  }

  #other-projects .container-fluid {
    padding: 3% 1% 7%;
  }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #websitework .container-fluid {
    padding: 3% 1% 7%;
  }

  #other-projects .container-fluid {
    padding: 3% 1% 7%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
